<%- include('./partials/header.ejs') %>
        <div class="blog-conatiner">
            <div class="blogs">
                 <div class="blog">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste non assumenda laboriosam possimus placeat. A amet porro saepe iste, doloribus reprehenderit. Minus aut, laudantium deserunt nihil, blanditiis similique quaerat dolores tenetur architecto officia voluptate a cumque magnam voluptatem ipsum! Veniam sed impedit ea atque adipisci ad placeat nulla quas nam. Perspiciatis omnis quod adipisci sed provident similique maxime hic ad amet atque beatae repellat, nesciunt qui tempora dolorem reiciendis sit optio quo dolor asperiores deleniti pariatur iste nisi neque? Harum cumque laborum reprehenderit sapiente id sed quam nihil deleniti, provident repudiandae! Aliquam harum veniam repellendus porro numquam hic sapiente ut!</p>
                 </div>
            </div>
            <div class="form-container">
                <h3>Form - Container</h3>
            </div>
        </div>
    </div>
</body>
</html>