<%- include('./partials/header.ejs') %>
        <div class="home-container">
            <h3>Node Authentication</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo rerum autem, a culpa nam molestiae dolores accusamus eos maxime perferendis sunt, blanditiis consequuntur. Illo pariatur quisquam similique. Dolore ipsam animi tempora mollitia perferendis dolor, natus aliquid reprehenderit eos quisquam architecto neque, quod amet iste sit, voluptate at. Et, corrupti ipsum.
            </p>
            <div class="button-container">
                <a href="/blogs"><span></span>Blogs</a>
                <a href=""><span></span>Support Me</a>
            </div>
        </div>
    </div>
</body>
</html>