<%- include('./partials/header.ejs') %>
        <div class="auth-container">
            <form>
                <h3>Login</h3>
                <label for="username">Username</label>
                <input type="text" name="username">
                <div class="error username"></div>
                <label for="password">Password</label>
                <input type="password" name="password">
                <div class="error password"></div>
                <button>Login</button>
            </form>
        </div>
    </div>
</body>
</html>